<!DOCTYPE html>
<html>

	<head>
		<!--[if lt IE 9]>
    <script type="text/javascript" src="static/js/html5.js"></script>
    <![endif]-->
		<meta charset="utf-8">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="renderer" content="webkit" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>CPU知识云</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<script type="text/javascript" src="static/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/vue_2.5.13.js"></script>
		<script type="text/javascript" src="static/js/jquerysession.js"></script>
		<script type="text/javascript" src="static/js/jquery.params.js"></script>
		<script type="text/javascript" src="static/js/common.js"></script>
		<link rel="stylesheet" href="static/css/login/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/animate.css">
		<link rel="stylesheet" type="text/css" href="static/css/global.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="static/css/login/style.css">
		<script type="text/javascript" src="static/js/owl.carousel.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>

	</head>

	<body>
		<div id="alll">
		<!-------------------------------------- 头部开始 -------------------------------------->
		<div class="header">
			<div class="head" id="head">
				<div class="wrap"> <span>欢迎访问CPU知识云，联合网络数字图书馆视频知识库！</span>
					<div class="frt">
						<ul>
							<li>
								<a href="popupsignin.html" v-if="!userinfo.nick_name"><span>登录</span></a>
								<a href="#" v-if="userinfo.nick_name" ><span v-text="userinfo.nick_name"></span></a>

							</li>
							<li>
								<a href="popupsignin.html?p=1" v-if="!userinfo.nick_name"><span>注册</span></a>
								<a href="coursecenter.html" v-if="userinfo.nick_name"><span>个人中心</span></a>

							</li>
							<li>

								<a href="#" onclick="layout()" v-if="userinfo.nick_name"><span>退出</span></a>

							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="head2">
				<div class="wrap logoBox">
					<div class="logo flt">
						<a href="index.html"><img style="height: 70px;" src="static/picture/16.png"></a>
					</div>
					<div class="frt tel" style="height: 76px;">
						<h3>cpuzsy@126.com
</h3>
						<p style="text-align: center;">24小时在线服务邮箱</p>
					</div>
				</div>
			</div>
			<div class="menu">
				<div class="wrap">
					<ul>
						<li class='on'>
							<a href="index.html">首页
								<label></label>
							</a>
						</li>

						<li>
							<a href="course.html">直击中考·
								<label style="font-size:10px;">学生版</label>
							</a>
						</li>
						<li>
							<a href="courseT.html">直击中考·
								<label style="font-size:10px;">教师版</label>
							</a>
						</li>
						<li>
							<a href="courseZ.html">直击中考·
								<label style="font-size:10px;">试题版</label>
							</a>
						</li>
						<li>
						<li>
							<a href="news.html">直击中考 ·
								<label style="font-size:10px;">快讯</label>
							</a>
						</li>
					</li>
					</ul>
				</div>
				<div class="menu_wrap"></div>
				<div class="clear"></div>
			</div>
		</div>

		<!-------------------------------------- 头部结束 -------------------------------------->
		<!-------------------------------------- 内容开始 -------------------------------------->
		<!--class="animated fast" data-animation="fadeInDown"-->
		<div class="mainer" id="grzx">
			<div class="page_list">
				<div class="page page11">
					<div class="wrap">
						<div class="course_hot course_hot2 col-sm-3">
							<div class="course_hot_box" style="padding: 0;">
								<div class="tit">
									<h3>个人中心</h3>
								</div>

								<div class="course_item">
									<dl>
										<dt>我的课程</dt>
										<dd>
											<p>
												<a href="coursecenter.html" >已购课程</a>
											</p>
											<p>
												<a href="courserecord.html">学习记录</a>
											</p>
											<p>
												<a href="#" class="checked">修改密码</a>
											</p>
											<p v-if="userinfo.role_id != '1123598816738675203'">
												<a href="teacher_authentication.html">教师资格认证</a>
											</p>
										</dd>
									</dl>

								</div>
							</div>
						</div>
						<div class="course_item course_item2 col-sm-9 lsjs ">
							<div class="tit"><h3 style="padding: 0;"><span>个人信息</span></h3></div>
							<div class="cus01">
								<div class="cusImg">
									<img src="static/image/tx.png" title="头像" />
								</div>
								<div class="cusName">
									<p title="用户名称" id="username" v-text="userinfo.nick_name">阿牛</p>
									<!-- 用户类型： -->
									<span title="分众传媒有限公司">{{userinfo.role_name}}</span>
									<!--教师资格证审核状态-->
									<span title="未认证" v-if="userinfo.role_id != '1123598816738675203'">未认证</span>
								</div>
							</div>
							<div class="tit"><h3 style="padding: 0;"><span>修改密码</span></h3></div>
													<!--修改密码-->
													<div class="form-group" style="margin-top:2vh;">
														<label for="signin_form">旧密码</label>
														<input type="text" class="form-control" id="pwd" placeholder="请输入您的旧密码">
													</div>
													<div class="form-group" style="margin-top:2vh;">
														<label for="signin_form">新密码</label>
														<input type="password" class="form-control" id="newpwd" placeholder="请输入您的新密码">
													</div>
													<div class="form-group" style="margin-top:2vh;">
														<label for="signin_form">确认密码</label>
														<input type="password" class="form-control" id="newpwdagian" placeholder="请再次输入您的新密码">
													</div>
													<div class="signin-footer" style="padding-top:2vh">
													<button type="button" id="updateButton" class="btn signin_btn updatePWd" data-toggle="modal" data-target=".signin_modal" style="width:76%;margin-left:12%;">
													提交
													</button>
													</div>													
													<!--修改密码-->
							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
				<div class="page">
					<img src="static/picture/bottomBg.jpg" style="width: 100%;"/>
				</div>
			</div>
		</div>
		<!-------------------------------------- 内容结束 -------------------------------------->
		<!-------------------------------------- 尾部开始 -------------------------------------->
		<div class="footer">
			<div class="foot2">
				<p>Copyright &copy;2020 山西图联科技信息有限公司 版权所有  备案号：晋ICP备12002112号-1</p>
			</div>
		</div>
		</div>
		<!-------------------------------------- 尾部结束 -------------------------------------->

		<style>
			dl {
				margin-bottom: 10px;
			}
			dl dt {
				font-size: 16px;
				color: #333333;
				font-family: "microsoft yahei";
				font-weight: 600;
				padding: 15px 15px 15px 26px;
			}
			
			dd {
				font-family: "microsoft yahei", 宋体, Arial, Helvetica;
				font-size: 12px;
				color: rgb(51, 51, 51);
				line-height: 1.5;
			}
			
			dl dd p {
				padding: 5px 26px;
				line-height: 1.7!important;
				margin: 0;
			}
			
			dl dd p a {
				color: #666666;
				font-size: 14px;
				font-family: "microsoft yahei";
				display: block;
			}
			
			img {
				border: 0;
				outline-width: 0px;
				vertical-align: top;
			}
			
			.cusName {
				width: 600px;
				float: left;
				margin: 10px;
			}
			
			.cusName p {
				line-height: 40px;
				height: 40px;
				font-size: 16px;
				color: #333;
				font-family: "microsoft yahei";
				padding: 0;
				word-wrap: break-word;
				overflow: hidden;
			}
			
			.cusName span {
				line-height: 40px;
				height: 40px;
				position: relative;
				font-size: 14px;
				color: #666;
				font-family: "microsoft yahei";
				display: block;
				word-wrap: break-word;
				overflow: hidden;
			}
			
			.cus01 {
				height: 170px;
				padding: 0px 20px;
				display: flex;
				/* border-bottom: 1px solid #000000; */
			}
			
			.cusImg {
				width: 127px;
				height: 127px;
				overflow: hidden;
				margin: 10px;
				float: left;
			}
		</style>
		<script>
			$(function() {
				var userInfo = {};
				userInfo.nike_name = "";
				if($.session.get('user') != undefined) {
					userInfo = JSON.parse($.session.get('user'));
				}else{
					
					window.location.href = "popupsignin.html"
				}
				var vm = new Vue({
					el: '#alll',
					data: {
						userinfo: {},
						list: [],
					},
					created: function() {
						this.getLM();
					},
					methods: {
						getLM: function() {
							this.userinfo = userInfo;
							
							$.ajax({
								url: requestUrl+'/blade-cms/category/userOrderList', //地址
								dataType: 'json', //数据类型
								type: 'GET', //类型
								data:{
									userId:userInfo.user_id
								},
								timeout: 5000, //超时
								contentType:'application/json',
								//请求成功
								success: function(data, status) {
									vm.list = data.data.records;
								},
								headers: {
									'Authorization': 'Basic c2FiZXI6c2FiZXJfc2VjcmV0',
									'Blade-Auth': 'bearer '+userInfo.access_token
									
								},
								error: function(XMLHttpRequest, textStatus, errorThrown) {
									if(errorThrown=='Unauthorized'){
										$.session.remove('user');
										alert("登录过期，请重新登录！");
										window.location.href="popupsignin.html";
									}
								}
							})
						}
					}
				});
				$("#updateButton").click(function() {
				//调用检查方法
				var pwd=$("#pwd").val();
				var newpwd = $("#newpwd").val();
				var newpwdagain = $("#newpwdagian").val();
				if (userInfo == undefined){
					alert("登录已失效");
					window.location.href="popupsignin.html";
				}else if( pwd == "" || newpwd == "" || newpwdagain == ""){
						alert("请填写完整信息！");
						return;
				}else if (newpwd != newpwdagain){
						alert("新密码两次输入密码不一致");
				}else{
					/**调用修改密码接口*/
					$.ajax({
								url: requestUrl+'/blade-user/update-password', //地址
								dataType: 'json', //数据类型
								type: 'post', //类型
								data:{
									oldPassword: pwd,
									newPassword: newpwd,
									newPassword1: newpwdagain
								},
								timeout: 5000, //超时
								//请求成功
								success: function(data, status) {
									console.log(data);
									if(data.code == 200){
									alert("修改密码成功");
									setTimeout("layout()",1000);  
									layout();
									}else{
									alert(data.msg);
									}
									
								},
								headers: {
									'Authorization': 'Basic c2FiZXI6c2FiZXJfc2VjcmV0',
									'Blade-Auth': 'bearer '+userInfo.access_token
									
								},
								error: function(XMLHttpRequest, textStatus, errorThrown) {
									if(errorThrown=='Unauthorized'){
										$.session.remove('user');
										alert("登录过期，请重新登录！");
										window.location.href="popupsignin.html";
									}
								}
							})
			}
		});

			})

		</script>
		<script>
		
		</script>
	</body>
</html>